cat <<EOT > .gitignore
# Binarios y compilación (C, C++, Java)
*.o
*.out
*.exe
*.class
bin/
build/
out/
*.so
*.dll
demos/

# IDEs y editores
.vscode/
.idea/
*.swp

# Sistema Operativo
Thumbs.db
.DS_Store
EOT
